
h1{
    padding: 40px 0 40px 0;
    margin: auto;
    text-align: center;
    color: white;
    background-image: url(./../../assets/image/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width: 100%;
    height: 50px;
    margin: auto;
    padding-top: 20px;
    border: 50px;
}
p{
    padding: 20px 0 20px 0;
    margin: auto;
    text-align: center;
    color: white;
    background-image: url(./../../assets/image/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    background-size:cover;
    background-color: aqua;
    background: fixed;
}




