<section>
  <app-comp-title [titoloChild]="titoloParent"></app-comp-title>
  <div class="container">
    <div class="row">
  <p>Benvenuto nella pagina della nostra farmacia! Di seguito sono riportate alcune informazioni:</p>

  <h2> Farmacia Salute e Benessere</h2>
  <p>Descrizione: La nostra farmacia offre una vasta gamma di prodotti e servizi per la tua salute e il tuo benessere.</p>

  <h3>Dettagli:</h3>
  <ul>
    <li>Indirizzo: Via virgilio , 04023, Formia, Italia</li>
    <li>Orari di apertura:
      <ul>
        <li>Lunedì - Venerdì: 8:30 - 18:30</li>
        <li>Sabato: 9:00 - 13:00</li>
        <li>Domenica: Chiuso</li>
      </ul>
    </li>
    <li>Telefono: +393892978507</li>
    <li>Sito Web: <a href="https://www.farmaciasaluteebenessere.com">www.farmaciasaluteebenessere.com</a></li>
  </ul>
  <h3>Informazioni sulle spedizioni:</h3>
  <p>La nostra farmacia offre spedizioni in tutta Italia. Il costo della spedizione è di 5€. La spedizione è gratuita per ordini superiori a 50€.</p>
  <h3>Informazioni sul reso:</h3>
  <p>La nostra farmacia offre la possibilità di restituire i prodotti acquistati entro 14 giorni dalla data di acquisto. Il rimborso verrà effettuato entro 7 giorni dalla data di ricezione del reso.</p>
  <h3>Altre informazioni:</h3>
  <ul>
    <li>Partita IVA: 123456789</li>
    <li>Numero di iscrizione al registro delle imprese: 123456789</li>
  </ul>
  <h3>Privacy:</h3>
  <p>La nostra farmacia si impegna a proteggere la tua privacy e a sviluppare tecnologie che ti offrano un'esperienza online sicura. Questa dichiarazione sulla privacy si applica al sito Web della nostra farmacia e descrive la raccolta e l'uso delle informazioni.</p>
  <p>Utilizzando il sito Web della nostra farmacia, acconsenti alle pratiche descritte in questa dichiarazione.</p>
  <p>La nostra farmacia raccoglie informazioni personali, come il tuo indirizzo e-mail, nome, indirizzo di casa o di lavoro o numero di telefono. La nostra farmacia raccoglie anche informazioni demografiche anonime, che non sono uniche per te, come il tuo codice postale, età, sesso, preferenze, interessi e preferenze.</p>
  <p>C'è anche informazione sul tuo hardware e software del computer che viene automaticamente raccolta dalla nostra farmacia. Queste informazioni possono includere: il tuo indirizzo IP, tipo di browser, nomi di dominio, tempi di accesso e indirizzi del sito Web di riferimento. Queste informazioni vengono utilizzate dalla nostra farmacia per il funzionamento del servizio, per mantenere la qualità del servizio e per fornire statistiche generali sull'utilizzo del sito Web della nostra farmacia.</p>
  <p>La nostra farmacia non utilizza né raccoglie informazioni sensibili relative alla razza, religione o convinzioni politiche.</p>
  <p>La nostra farmacia raccoglie e utilizza le tue informazioni personali per gestire il sito Web della nostra farmacia e fornire i servizi richiesti. La nostra farmacia utilizza anche le tue informazioni personali per informarti di altri prodotti o servizi disponibili dalla nostra farmacia e dai suoi affiliati. La nostra farmacia può anche contattarti tramite sondaggi per condurre ricerche sulle tue opinioni sui servizi attuali o su possibili nuovi servizi che potrebbero essere offerti.</p>
  <p>La nostra farmacia non vende, affitta o affitta le sue liste di clienti a terzi. La nostra farmacia può, di volta in volta, contattarti a nome di partner commerciali esterni per informarti di un'offerta particolare che potrebbe interessarti. <br>
   In questi casi, le tue informazioni personali (indirizzo e-mail, nome, indirizzo, numero di telefono) non vengono trasferite al terzo. Inoltre, la nostra farmacia può condividere dati con partner fidati per aiutarci a eseguire analisi statistiche, inviarti e-mail o posta, fornire assistenza clienti o organizzare consegne. Tutti questi terzi sono proibiti dall'utilizzo delle tue informazioni personali, tranne per fornire questi servizi alla nostra farmacia e sono tenuti a mantenere la riservatezza delle tue informazioni.</p>
  <p>La nostra farmacia non utilizza o raccoglie informazioni personali da bambini di età inferiore ai 13 anni. Se hai meno di tredici anni, non puoi utilizzare il sito Web della nostra farmacia senza il consenso dei tuoi genitori.</p>
  <p>La nostra farmacia raccoglie informazioni sulle pagine visitate all'interno del sito Web della nostra farmacia. Queste informazioni vengono utilizzate per fornire pubblicità e contenuti specifici per gli utenti e per determinare l'efficacia della pubblicità per determinati utenti.</p>
  <p>La nostra farmacia non divulga le tue informazioni personali, senza preavviso, solo se richiesto dalla legge o in buona fede che tale azione è necessaria per: (a) conformarsi alle disposizioni di legge o conformarsi alla citazione legale servita sul sito Web della nostra farmacia; <br>
   (b) proteggere e difendere i diritti o la proprietà della nostra farmacia; e, (c) agire in circostanze urgenti per proteggere la sicurezza personale degli utenti del sito Web della nostra farmacia o del pubblico.</p>
  <p>Il sito Web della nostra farmacia utilizza "cookie" per aiutarti a personalizzare la tua esperienza online. Un cookie è un file di testo che viene inserito sul disco rigido del tuo computer da una pagina Web del server. <br>
   I cookie non possono essere utilizzati per eseguire programmi o trasmettere virus al tuo computer. <br>
   I cookie vengono assegnati in modo univoco a te e possono essere letti solo da un server Web nel dominio che ha emesso il cookie a te.</p>
    </div>
  </div>
</section>

<br> <br> <br> <br> <br> <br>
<hr>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <img src="assets/image/farm.jpg" alt="logo">
        <p>
          La nostra farmacia offre una vasta gamma di prodotti e servizi per la tua salute e il tuo benessere.
        </p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>CONTATTI</b></p>
        <p><i class="fa fa-map-marker"></i> Via virgilio, 19 - 04023 Formia</p>
        <p><i class="fa fa-phone"></i> +39 123456789</p>
        <p><i class="fa fa-envelope-o"></i> gueaserge2@gmail.com</p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>SOCIAL</b></p>
        <p><i class="fa fa-facebook-official"></i> Facebook</p>
        <p><i class="fa fa-twitter"></i> Twitter</p>
        <p><i class="fa fa-linkedin"></i> Linkedin</p>
        <p><i class="fa fa-instagram"></i> Instagram</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <b>© 2023 Farmacia</b>   | Tutti i diritti riservati |
          <b class="fa-pull-right">Design by </b><a href="http://www.google.it">Guea Serge</a>
        </p>
      </div>
    </div>
  </div>
</section>





