<section>
  <!--class="row g-3"
    [formGroup]="prodottoForm"
    (ngSubmit)="inviaDati(content)"-->
  <form>
    <div class=" col-lg-6">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nomeForm">
    </div>
    <div class="col-lg-6">
      <label for="prezzo" class="form-label">Prezzo</label>
      <input type="number" class="form-control" id="prezzo" placeholder="Prezzo" formControlPrezzo="prezzoForm">
    </div>
    <div class="col-lg-6">
      <label for="quantita" class="form-label">Quantità</label>
      <input type="number" class="form-control" id="quantita" placeholder="Quantità" formControlQuantita="quantitaForm">
    </div>
    <div class="col-lg-6">
      <label for="categoria" class="form-label">Categoria</label>
      <select class="form-select" id="categoria" formControlCategoria="categoriaForm">
        <option *ngFor="let categoria of categoria" >{{categoria}}</option>
      </select>
      <div class="col-lg-6">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea class="form-control" id="descrizione" rows="3" formControlDescrizione="descrizione"></textarea>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Inserisci</button>
      </div>
    </div>
  </form>
  <!--init Modal-->

    <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Info</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"
      ></button>
    </div>
    <div class="modal-body">
      <h5>Inserito il seguente Prodotto </h5>
      <ul class="list-group">
        <li class="list-group-item">ID: {{ prodottoInserito.id }}</li>
        <li class="list-group-item">Nome: {{ prodottoInserito.nome }}</li>
        <li class="list-group-item">CATEGORIA: {{ prodottoInserito.nazione }}</li>
        <li class="list-group-item">
          PREZZO: {{ prodottoInserito.prezzo }}
        </li>
        <li class="list-group-item">
          QUANTITA: {{ prodottoInserito.quantita}}
        </li>
        <li class="list-group-item">
          DESCRIZIONE: {{ prodottoInserito.descrizione }}
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close()"
      >
        Close
      </button>
    </div>
  </ng-template>
  <!--end Modal-->
</section>

<br> <br> <br> <br> <br> <br>
<hr>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <img src="assets/image/farm.jpg" alt="logo">
        <p>
          La nostra farmacia offre una vasta gamma di prodotti e servizi per la tua salute e il tuo benessere.
        </p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>CONTATTI</b></p>
        <p><i class="fa fa-map-marker"></i> Via virgilio, 19 - 04023 Formia</p>
        <p><i class="fa fa-phone"></i> +39 123456789</p>
        <p><i class="fa fa-envelope-o"></i> gueaserge2@gmail.com</p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>SOCIAL</b></p>
        <p><i class="fa fa-facebook-official"></i> Facebook</p>
        <p><i class="fa fa-twitter"></i> Twitter</p>
        <p><i class="fa fa-linkedin"></i> Linkedin</p>
        <p><i class="fa fa-instagram"></i> Instagram</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <b>© 2023 Farmacia</b>   | Tutti i diritti riservati |
          <b class="fa-pull-right">Design by </b><a href="http://www.google.it">Guea Serge</a>
        </p>
      </div>
    </div>
  </div>
</section>




