
<section>
<app-comp-title [titoloChild]="titoloParent"></app-comp-title>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- class="col-lg-6" ({[(ngModel)]="clienteForm"}) (ngSubmit)="inviaDati()"

       <form #clienteForm="ngForm"  (ngSubmit)="onSubmit(clienteForm)" (ngSubmit)="inviaDati()">

      -->
      <form #clienteForm="ngForm"  (ngSubmit)="onSubmit(clienteForm)" (ngSubmit)="inviaDati()">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome" ngModel required >
        </div>
        <div class="form-group">
          <label for="cognome">Cognome</label>
          <input type="text" class="form-control" id="cognome" placeholder="Cognome" ngModel required >
        </div>
        <div class="form-group">
          <label for="indirizzo">Indirizzo</label>
          <input type="text" class="form-control" id="indirizzo" placeholder="Indirizzo" ngModel required>
        </div>
        <div class="form-group">
          <label for="citta">Città</label>
          <input type="text" class="form-control" id="citta" placeholder="Città" ngModel required>
        </div>
        <div class="form-group">
          <label for="cap">CAP</label>
          <input type="text" class="form-control" id="cap" placeholder="CAP" ngModel required>
        </div>
        <div class="form-group">
          <label for="provincia">Provincia</label>
          <input type="text" class="form-control" id="provincia" placeholder="Provincia"  ngModel required>
        </div>

        <div class="form-group">
          <label for="provincia">Stato</label>
          <select class="form-select" id="nazione" formControlNazione="nazioneForm">
            <option *ngFor="let nazione of Nazione" >{{Nazione}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input type="text" class="form-control" id="telefono" placeholder="Telefono" ngModel required >
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="Email"  ngModel required>
        </div>
        <div class="form-group">
          <label for="codiceFiscale">Codice Fiscale</label>
          <input type="text" class="form-control" id="codiceFiscale" placeholder="Codice Fiscale" ngModel required>
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" id="age" placeholder="age" ngModel required>
        </div>
        <div class="form-group">
          <label for="note">Note</label>
          <textarea class="form-control" id="note" rows="3"></textarea ngModel required>
        </div>
        <button type="submit" class="btn btn-primary">Inserisci</button>
      </form>

      <!--init Modal-->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Info</h4>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modal.dismiss()"
        ></button>
      </div>
      <div class="modal-body">
        <h5>Inserito il seguente Cliente </h5>
        <ul class="list-group">
          <li class="list-group-item">ID: {{ clienteInserito.id }}</li>
          <li class="list-group-item">Nome: {{ clienteInserito.nome }}</li>
          <li class="list-group-item">COGNOME: {{ clienteInserito.cognome }}</li>
          <li class="list-group-item">CODICE FISCALE: {{ clienteInserito.codicefiscale }}</li>
          <li class="list-group-item">AGE: {{ clienteInserito.age }}</li>
          <li class="list-group-item">TELEFONO: {{ clienteInserito.telefono }}</li>
          <li class="list-group-item">EMAIL: {{ clienteInserito.email }}</li>
          <li class="list-group-item">INDIRIZZO: {{ clienteInserito.indirizzo }}</li>
          <li class="list-group-item">CITTA: {{ clienteInserito.citta }}</li>
          <li class="list-group-item">CAP: {{ clienteInserito.cap }}</li>
          <li class="list-group-item">PROVINCIA: {{ clienteInserito.provincia }}</li>
          <li class="list-group-item">NOTE: {{ clienteInserito.note }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="modal.close()"
        >
          Close
        </button>
      </div>
    </ng-template>
    <!--end Modal-->
    </div>
  </div>
</div>
</section>

<!-- Init footer-->
<br> <br> <br> <br> <br> <br>
<hr>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <img src="assets/image/farm.jpg" alt="logo">
        <p>
          La nostra farmacia offre una vasta gamma di prodotti e servizi per la tua salute e il tuo benessere.
        </p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>CONTATTI</b></p>
        <p><i class="fa fa-map-marker"></i> Via virgilio, 19 - 04023 Formia</p>
        <p><i class="fa fa-phone"></i> +39 123456789</p>
        <p><i class="fa fa-envelope-o"></i> gueaserge2@gmail.com</p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>SOCIAL</b></p>
        <p><i class="fa fa-facebook-official"></i> Facebook</p>
        <p><i class="fa fa-twitter"></i> Twitter</p>
        <p><i class="fa fa-linkedin"></i> Linkedin</p>
        <p><i class="fa fa-instagram"></i> Instagram</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <b>© 2023 Farmacia</b>   | Tutti i diritti riservati |
          <b>Design by </b><a href="http://www.google.it">Guea Serge</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End footer-->
