<div class="container">
  <div class="row">
    <div class="col">
      <h1>Contatti</h1>
    </div>
  </div>
  <form >
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Inserisci il tuo nome">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Cognome</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserisci il tuo cognome">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Telefono</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserisci il tuo numero di telefono">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Indirizzo</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserisci il tuo indirizzo">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Città</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserisci la tua città">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Provincia</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserisci la tua provincia">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">CAP</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserisci il tuo CAP">
    </div>
    <div class="col-lg-10">
      <label for="nazione" class="form-label">Nazione</label>
      <select class="form-select" id="nazione" formControlName="nazioneForm">
        <option *ngFor="let nazione of nazione" [value]="nazione">
          {{ nazione }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Email</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Inserisci la tua email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Messaggio</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Invia</button>
    <button type="reset" class="btn btn-primary">Annulla</button>
  </form>
</div>

<!--
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name">
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" formControlName="email">
  </div>
  <div>
    <label for="subject">Subject:</label>
    <input id="subject" type="text" formControlName="subject">
  </div>
  <div>
    <label for="message">Message:</label>
    <textarea id="message" formControlName="message"></textarea>
  </div>
  <button type="submit" [disabled]="contactForm.invalid">Submit</button>
</form>-->






<br> <br> <br> <br> <br> <br>
<hr>
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <img src="assets/image/farm.jpg" alt="logo">
        <p>
          La nostra farmacia offre una vasta gamma di prodotti e servizi per la tua salute e il tuo benessere.
        </p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>CONTATTI</b></p>
        <p><i class="fa fa-map-marker"></i> Via virgilio, 19 - 04023 Formia</p>
        <p><i class="fa fa-phone"></i> +39 123456789</p>
        <p><i class="fa fa-envelope-o"></i> gueaserge2@gmail.com</p>
      </div>
      <div class="col-md-4 footer-box">
        <p><b>SOCIAL</b></p>
        <p><i class="fa fa-facebook-official"></i> Facebook</p>
        <p><i class="fa fa-twitter"></i> Twitter</p>
        <p><i class="fa fa-linkedin"></i> Linkedin</p>
        <p><i class="fa fa-instagram"></i> Instagram</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
          <b>© 2023 Farmacia</b>   | Tutti i diritti riservati |
          <b >Design by </b><a href="http://www.google.it">Guea Serge</a>
        </p>
      </div>
    </div>
  </div>
</section>







